@font-face {
    font-family: roboto-light;
    src: url('fonts/Roboto-Light.ttf');
  }

body {
    background-color: #292b2c;
    color: #f7f7f7;
    font-family: roboto-light;
}

h1 {
    text-align: center;
}

input {
    margin: 1em;
    border-radius: 6px;
    padding: 10px 16px;
    font-size: 18px;
}

img{
    margin: 1em;
}