<!DOCTYPE html>

<html>
    <head>
        <title>Buffer overflow</title>
    </head>
    <body>
        <h1>Buffer overflow</h1>

        <form action="auth" method="post">
            Username : <input type="text" name="username" /><br />
            Password : <input type="password" name="password" /><br />
            <input type="submit" value="login" name="login" />
        </form>
    </body>
</html>